.header {
  margin-bottom: 58px;
}
.header__container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(3px);
}

@media (max-width: 790px) {
  .navbar-collapse {
    background-color: rgb(250, 250, 250, 0.65);
  }
}

.logo {
  min-width: 30px;
  max-width: 50px;
  margin-right: 15px;
}

.nav-item {
  margin: 0 10px;
  align-self: center;
}

@media (max-width: 790px) {
  .nav-item {
    margin-bottom: 5px;
  }
}

.button {
  padding: 10px;
  width: 110px;
  border-radius: 25px;
}
button.button.btn.btn-outline-dark:hover a {
  color: white;
}
