.header-card {
  border: 0px;
  border-radius: 0px;
  min-height: 200px;
  padding: 0 40px;
  background-color: lightgrey;
  justify-content: center;
}
@media (min-width: 790px) {
  .header-card {
    height: 350px;
  }
}

.header-card__header-title {
  text-align: center;
}
.header-card__title {
  text-align: center;
  font-size: max(4vw, 30px);
}
.header-card__container {
  width: 100%;
  padding: 10px;
}

.header-card__logo-right,
.header-card__logo-left {
  width: 100%;
  min-width: 20px;
  max-width: 60px;
}
.header-card__contents {
  padding-top: 10px;
  text-align: center;
  font-size: max(1.5vw, 15px);
}
