.about-page {
  &__button {
    padding: 10px;
    width: 110px;
    border-radius: 25px;
  }

  &__events {
    text-align: center;
    padding: 0px 20px;
    margin-top: 30px;
  }

  &__events__container {
    margin-bottom: 30px;
  }

  &__events__title {
    font-size: 20px;
    font-weight: bold;
  }
}
