.carousel {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}
.carousel__container {
  display: flex;
  overflow-x: scroll;
  padding: 10px 20px;
}

.carousel.center {
  justify-content: center;
}
