.footer-logo{
    min-width: 20px;
    max-width: 40px;
    height: auto;
}
.tag{
    margin: 0 15px;
}
.icon-tag{
    margin: 0 10px;
}
.logo-pos{
    padding-top: 150px;
    padding-bottom: 30px;
}

.footer-logo{
    height: 7%;
    width: 7%;
}

.icon-pos{
    padding-top: 30px;
    padding-bottom: 50px;
}
.copy-right{
    padding-top: 50px;
    padding-bottom: 10px;
}