.footer {
  width: 100%;
  margin-top: 10vh;
  padding: 10px 15px 0px 15px;
}

.footer__logo-container {
  text-align: center;
  padding: 10px;
}

.footer__logo-main {
  width: 100%;
  min-width: 20px;
  max-width: 60px;
}

.footer__path-container {
  text-align: center;
  padding: 10px;
}

.footer__path-item {
  padding: 10px;
}
