.header {
  display: flex;
  margin-bottom: 58px;
}

.logo {
  min-width: 30px;
  max-width: 50px;
  margin-right: 15px;
}

.nav-item {
  margin: 0 10px;
  align-self: center;
}

.button {
  padding: 10px;
  width: 110px;
  border-radius: 25px;
}
button.button.btn.btn-outline-dark:hover a {
  color: white;
}
