.header{
    display: flex;
}

.logo{
    min-width: 30px;
    max-width: 50px;
    margin-right: 15px;
}

.btn-link{
    padding: 0px;
    /*width: 40%;*/
    width: 11.5vw;
}

.text-link{
    padding-top: 8px;
    width: 93px;
}